server:
  port: 8081
  servlet:
    session:
      timeout: 600m
spring:
  application:
    name: CoreApplication
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/radar_mgr?characterEncoding=UTF8&useSSL=true
    password: 123456
    username: root
  thymeleaf:

    encoding: UTF-8
    prefix: classpath:/templates/
    suffix: .html
    cache: false

logging:
  config: classpath:log4j2.xml
mybatis-plus:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.yixing.core.entity
  configuration:
    map-underscore-to-camel-case: true
